@tailwind base;
@tailwind components;
@tailwind utilities;

/*General Style*/
#app{
    width: 100%;
    font-family: Montserrat; 
}
h1, h2, h3, h4, h5, h6{
    font-family: Poppins;
}
button{
    margin: 5px;
    padding: 7px;
    border-radius: 7px;
}
/*Header Style*/
header{
    padding: 10px;
    text-align: center;
}
/*Footer Style*/
footer{
    padding: 10px;
    border-top: black 1px solid;
    margin-top: 15px;
    text-align: center;
}
footer a{
    color: rgb(59, 58, 58);
    font-weight: 400;
    font-family: Montserrat; 
}